<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.sensepost.SPUDHelperClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.sensepost.SPUDHelperClasses.Properties.Settings>
            <setting name="SPUDHelperClasses_com_google_api_GoogleSearchService"
                serializeAs="String">
                <value>http://api.google.com/search/beta2</value>
            </setting>
            <setting name="SPUDHelperClasses_com_msn_search_soap_MSNSearchService"
                serializeAs="String">
                <value>http://soap.search.msn.com:80/webservices.asmx</value>
            </setting>
        </com.sensepost.SPUDHelperClasses.Properties.Settings>
    </applicationSettings>
</configuration>